In [23]:
import pandas as pd

In [24]:
df =pd.read_csv('Data/candyhierarchy2017.csv',encoding='latin-1')

# Handling null values

In [25]:
#drop the row if all values are null'going_out', 'gender', 'age', 'country', 'area'
df.dropna(subset=['Q1: GOING OUT?','Q3: AGE','Q4: COUNTRY'],how = 'all', inplace = True)
df.shape

(2433, 120)

# Filling Null Values

In [26]:

df['Q1: GOING OUT?'] = df['Q1: GOING OUT?'].fillna('Do not know')
df['Q2: GENDER']=df['Q2: GENDER'].fillna("I'd rather not say")
df['Q4: COUNTRY']=df['Q4: COUNTRY'].fillna("unknown")

# Removing nonnumeric values from age column

In [27]:
df['Q3: AGE'] = df['Q3: AGE'].str.replace(r"[a-zA-Z]",'')

In [28]:
df.shape

(2433, 120)

# Check for Duplicated Data

In [29]:
duplicates = df.duplicated()
df[duplicates]

Empty DataFrame
Columns: [Internal ID, Q1: GOING OUT?, Q2: GENDER, Q3: AGE, Q4: COUNTRY, Q5: STATE, PROVINCE, COUNTY, ETC, Q6 | 100 Grand Bar, Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes), Q6 | Any full-sized candy bar, Q6 | Black Jacks, Q6 | Bonkers (the candy), Q6 | Bonkers (the board game), Q6 | Bottle Caps, Q6 | Box'o'Raisins, Q6 | Broken glow stick, Q6 | Butterfinger, Q6 | Cadbury Creme Eggs, Q6 | Candy Corn, Q6 | Candy that is clearly just the stuff given out for free at restaurants, Q6 | Caramellos, Q6 | Cash, or other forms of legal tender, Q6 | Chardonnay, Q6 | Chick-o-Sticks (we donÕt know what that is), Q6 | Chiclets, Q6 | Coffee Crisp, Q6 | Creepy Religious comics/Chick Tracts, Q6 | Dental paraphenalia, Q6 | Dots, Q6 | Dove Bars, Q6 | Fuzzy Peaches, Q6 | Generic Brand Acetaminophen, Q6 | Glow sticks, Q6 | Goo Goo Clusters, Q6 | Good N' Plenty, Q6 | Gum from baseball cards, Q6 | Gummy Bears straight up, Q6 | Hard Candy, Q6 | Healthy Fruit, Q6 | Heath Bar, Q6 | Hershey's Dark Chocolate, Q6 | HersheyÕs Milk Chocolate, Q6 | Hershey's Kisses, Q6 | Hugs (actual physical hugs), Q6 | Jolly Rancher (bad flavor), Q6 | Jolly Ranchers (good flavor), Q6 | JoyJoy (Mit Iodine!), Q6 | Junior Mints, Q6 | Senior Mints, Q6 | Kale smoothie, Q6 | Kinder Happy Hippo, Q6 | Kit Kat, Q6 | LaffyTaffy, Q6 | LemonHeads, Q6 | Licorice (not black), Q6 | Licorice (yes black), Q6 | Lindt Truffle, Q6 | Lollipops, Q6 | Mars, Q6 | Maynards, Q6 | Mike and Ike, Q6 | Milk Duds, Q6 | Milky Way, Q6 | Regular M&Ms, Q6 | Peanut M&MÕs, Q6 | Blue M&M's, Q6 | Red M&M's, Q6 | Green Party M&M's, Q6 | Independent M&M's, Q6 | Abstained from M&M'ing., Q6 | Minibags of chips, Q6 | Mint Kisses, Q6 | Mint Juleps, Q6 | Mr. Goodbar, Q6 | Necco Wafers, Q6 | Nerds, Q6 | Nestle Crunch, Q6 | Now'n'Laters, Q6 | Peeps, Q6 | Pencils, Q6 | Pixy Stix, Q6 | Real Housewives of Orange County Season 9 Blue-Ray, Q6 | ReeseÕs Peanut Butter Cups, Q6 | Reese's Pieces, Q6 | Reggie Jackson Bar, Q6 | Rolos, Q6 | Sandwich-sized bags filled with BooBerry Crunch, Q6 | Skittles, Q6 | Smarties (American), Q6 | Smarties (Commonwealth), Q6 | Snickers, Q6 | Sourpatch Kids (i.e. abominations of nature), Q6 | Spotted Dick, Q6 | Starburst, Q6 | Sweet Tarts, Q6 | Swedish Fish, Q6 | Sweetums (a friend to diabetes), Q6 | Take 5, Q6 | Tic Tacs, Q6 | Those odd marshmallow circus peanut things, Q6 | Three Musketeers, ...]
Index: []

[0 rows x 120 columns]

# Country column

In [30]:
from fuzzywuzzy import process
df['Q4: COUNTRY'].unique()

array(['USA ', 'USA', 'us', 'usa', 'unknown', 'canada', 'Canada', 'Us',
       'US', 'Murica', 'United States', 'uk', 'United Kingdom',
       'united states', 'Usa', 'United States ', 'United staes',
       'United States of America', 'UAE', 'England', 'UK', 'canada ',
       'Mexico', 'United states', 'u.s.a.', 'USAUSAUSA', 'america', '35',
       'france', 'United States of America ', 'U.S.A.', 'finland',
       'unhinged states', 'Canada ', 'united states of america',
       'US of A', 'Unites States', 'The United States', 'North Carolina ',
       'Unied States', 'Netherlands', 'germany', 'Europe', 'Earth', 'U S',
       'u.s.', 'U.K. ', 'Costa Rica', 'The United States of America',
       'unite states', 'U.S.', '46', 'cascadia', 'Australia',
       'insanity lately', 'Greece', 'USA? Hard to tell anymore..',
       "'merica", 'usas', 'Pittsburgh', '45', 'United State', '32',
       'France', 'australia', 'A', 'Can', 'Canae', 'New York',
       'Trumpistan', 'Ireland', 'United Sates', 'Korea', 'California',
       'Japan', 'USa', 'South africa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Uk', 'Iceland', 'Germany', 'Canada`', 'Scotland', 'UK ',
       'Denmark', 'United Stated', 'France ', 'Switzerland',
       'Ahem....Amerca', 'UD', 'Scotland ', 'South Korea', 'New Jersey',
       'CANADA', 'Indonesia', 'United ststes', 'America',
       'The Netherlands', 'United Statss', 'endland', 'Atlantis',
       'murrika', 'USA! USA! USA!', 'USAA', 'Alaska', 'united States ',
       'soviet canuckistan', 'N. America', 'Singapore', 'USSA', 'China',
       'Taiwan', 'Ireland ', 'hong kong', 'spain', 'Sweden', 'Hong Kong',
       'U.S. ', 'Narnia', 'u s a', 'United Statea', 'united ststes', '1',
       'subscribe to dm4uz3 on youtube', 'United kingdom',
       'USA USA USA!!!!', "I don't know anymore", 'Fear and Loathing'],
      dtype=object)

In [31]:
USA = [x for x in df['Q4: COUNTRY'] 
       if (('u' in str(x) or 'U' in str(x) or 'americ' in str(x))   and 'ingdom' not in str(x)\
     and 'urope' not in str(x) and 'stralia' not in str(x) and 'South Korea' not in str(x)\
           and 'South africa' not in str(x) and 'uk' not in str(x))]

In [32]:
df['Q4: COUNTRY']= df['Q4: COUNTRY'].replace(to_replace = USA, value = 'USA')

In [33]:
df['Q4: COUNTRY'].unique()

array(['USA', 'canada', 'Canada', 'uk', 'United Kingdom', 'England',
       'canada ', 'Mexico', '35', 'france', 'finland', 'Canada ',
       'North Carolina ', 'Netherlands', 'germany', 'Europe', 'Earth',
       'Costa Rica', '46', 'cascadia', 'Australia', 'insanity lately',
       'Greece', "'merica", '45', '32', 'France', 'australia', 'A', 'Can',
       'Canae', 'New York', 'Ireland', 'Korea', 'California', 'Japan',
       'South africa', 'Iceland', 'Germany', 'Canada`', 'Scotland',
       'Denmark', 'France ', 'Switzerland', 'Ahem....Amerca', 'Scotland ',
       'South Korea', 'New Jersey', 'CANADA', 'Indonesia', 'America',
       'The Netherlands', 'endland', 'Atlantis', 'Alaska', 'N. America',
       'Singapore', 'China', 'Taiwan', 'Ireland ', 'hong kong', 'spain',
       'Sweden', 'Hong Kong', 'Narnia', '1', 'United kingdom',
       "I don't know anymore", 'Fear and Loathing'], dtype=object)

In [34]:
Canada=[x for x in df['Q4: COUNTRY']
                    if('anada' in str(x))]

In [35]:
df['Q4: COUNTRY']=df['Q4: COUNTRY'].replace(to_replace= Canada,value='Canada')

In [36]:
df['Q4: COUNTRY'].unique()

array(['USA', 'Canada', 'uk', 'United Kingdom', 'England', 'Mexico', '35',
       'france', 'finland', 'North Carolina ', 'Netherlands', 'germany',
       'Europe', 'Earth', 'Costa Rica', '46', 'cascadia', 'Australia',
       'insanity lately', 'Greece', "'merica", '45', '32', 'France',
       'australia', 'A', 'Can', 'Canae', 'New York', 'Ireland', 'Korea',
       'California', 'Japan', 'South africa', 'Iceland', 'Germany',
       'Scotland', 'Denmark', 'France ', 'Switzerland', 'Ahem....Amerca',
       'Scotland ', 'South Korea', 'New Jersey', 'CANADA', 'Indonesia',
       'America', 'The Netherlands', 'endland', 'Atlantis', 'Alaska',
       'N. America', 'Singapore', 'China', 'Taiwan', 'Ireland ',
       'hong kong', 'spain', 'Sweden', 'Hong Kong', 'Narnia', '1',
       'United kingdom', "I don't know anymore", 'Fear and Loathing'],
      dtype=object)

In [37]:
England= [x for x in df['Q4: COUNTRY']
                  if(('United' in str(x)) or ('England' in str(x)) or('uk' in str(x)))]

In [38]:
df['Q4: COUNTRY']=df['Q4: COUNTRY'].replace(to_replace= England,value='England')

In [39]:
df['Q4: COUNTRY'].value_counts()

USA            2097
Canada          223
England          17
Germany           7
Netherlands       6
               ...
Scotland          1
Canae             1
Costa Rica        1
'merica           1
45                1
Name: Q4: COUNTRY, Length: 62, dtype: int64

In [40]:
df

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,Do not know,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,USA,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,USA,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
5,90272852,No,Male,NaN,USA,NaN,JOY,DESPAIR,JOY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,USA,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,USA,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"